.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .navBarDiv{
  width: 100%;
  background-color: lightblue;
  height: 4%;
  border: 2px;
  border: solid;
} */
.navSubDiv{
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  width: 18%;
}


.navBarDiv {
  padding-top: 1%;
  min-width: 99vmin;
  height: 40px;
  border: 3px outset red;
  background-color: lightblue;
  text-align: center;
}

.homeMainDiv{
  overflow: scroll;
  /* background-image: url('./images/sheaqPortfolio.jpg'), url('./images/choice1.jpg'); */
  background-repeat: no-repeat, no-repeat;

  /* background-image: url('./images/choice1.jpg'); */
  /* background-repeat: no-repeat; */
  background-size: auto;
  /* background-size: 45% 100%; */
  /* background-position: center;  */
  /* Center the image */
  /* background-repeat: no-repeat;  */
  /* Do not repeat the image */
  /* background-size: cover; */
  /* Resize the background image to cover the entire container */
  /* opacity: 0.5; */

  min-height: 100vmin;
  min-width: 99vmin;
  border: px outset red;
  /* background-color: yellow; */
}
/* img {
  opacity: 0.5;
} */
.homeSubDiv{
  overflow: scroll;
  height: 25vh;
  width: 49vw;
  background-color: plum;
  float: left;
  margin: .5vh 0.4vw .5vh .4vw;
  opacity: 0.8;

}
.homePortfolioSubDiv{
  /* overflow: scroll; */
  height: 40px;
  width: 20%;
  margin-left: 5%;
  /* margin-top: 40%;   */
  float: left;
  text-align: left;
  /* background-color: plum; */
}
.portfolioTextAlign{ 
  text-align: left;
}
.portfolioAbouthomeDiv{ 
  /* text-align: left; */
  margin-top: 10%;
}
.homeFullPortfolioSubDiv{
  height: 20%;
  width: 40%;
  margin-left: 45%;  
  margin-top: 25px;
  /* background-color: greenyellow; */
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.homeContactSubDiv{
  height: 40px;
  width: 20%;
  margin-left: 5%; 
  margin-top: 1%; 
  float: left;
  text-align: left;
  /* background-color: #2B2D42; */
}
.homeContactDiv{
  
  background-color: #2B2D42;
}

.contactSubDiv{
  overflow: scroll;
  height: 30vh;
  width: 20%;
  border: 1px outset white;
  background-color: plum;
  float: left;
  text-align: center;
}

/* about */
a {
  color: #EF233C;
  padding: 5px;
  margin: -1px;
  display: inline-block;
}
a:hover {
text-decoration: none;
}
h1, h2, h3, h4, p, ul, li {
  /* font-family: 'Caveat', cursive; */
  text-align: center;
}


h2 {
font-size: 40px;
margin-top: 0;
color: red;
}
p {
  font-size: 18px;
}
.F-makeup {
max-width: 100%;
margin: 0 auto;
padding: 5px;
overflow: hidden;
}
.H-makeup {
width:100%;
margin: 0 auto;
overflow: hidden;
}



/* Header & Footer
------------------------------------*/
header,
footer {
background: #2B2D42;
color: #8D99AE;
}
header h1,{
color: #EDF2F4;

}


/* Header styles only */
header {
  padding: 5px;
}

/* Footer styles only */
footer {
text-align: center;
}

div.second {
  /* opacity: 0.8; */
}
